.query-highlight {
    background-color: rgba(252, 252, 0, 0.2);
}

/* 'is-disabled' class is added to elements who have had 'setDisabled()' set to 'true'. */
/* Target only child elements of the 'log-keeper-setting' to prevent the parent style from being affected. */
.log-keeper-setting.is-disabled > * {
	opacity: 0.5;
	pointer-events: none;
	cursor: not-allowed;
}

/* Elements that sit indented to the main setting above them are marked with the 'log-keeper-setting-inner' class. */
.log-keeper-setting-inner {
	padding: 5px 10px;
}
